<nav
  class="fixed-top navbar navbar-expand-md navbar-dark bg-dark justify-content-between"
>
  <a href="/"
    ><img
      style="width: 3.5rem;"
      class=" img-thumbnail"
      src="https://cdn.shopify.com/assets/images/logos/shopify-bag.png?1341928631"
      alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Shop Demo <span class="sr-only">(current)</span></a
        >
      </li>
      
    </ul>
  </div>
</nav>
<div routerLink="/cart-detail" id="cart" class="fixed-top text-right mr-1">
  <span class="text-white bg-danger btn-lg border border-danger">
    <i
      class="fa fa-shopping-cart mr-3"
      style="font-size: 1.5rem;"
      aria-hidden="true"
    ></i>

    <span
      class="border border-right-0 border-top-0 border-bottom-0"
      id="cartHTML"
      >0</span
    >
  </span>
</div>

<router-outlet></router-outlet>

<footer class="bg-dark container-fluid text-white d-flex justify-content-center">
    <div class="row">
      <p class="col-12 ">Nguyen Duy Thuan &copy; 2019</p>
    </div>
  </footer>
